
<div class="text-center" style="font-family:Poppins">
    <div class="w3-container">
        <br><br><div style="border: 1px solid black; border-radius: 10px 70px 10px 70px; border-width: 3px">
    <p align="center">
        <br>
        <img src="~/Images/logo22.png" alt="Norway" style="width:45%" class="w3-hover-opacity"><br>
        <img src="~/Images/logo222.png" alt="Norway" style="width:30%" class="w3-hover-opacity">
        <hr style="width:50%">

        is a unique QR Code based, lost, and found tag system.<br>Use MafCode to better protect your valuables.<br>
        If lost, a finder can scan the MafCode with  your<br><u><b> phone camera on any smartphone to return it to its owner</b></u><br>
        <br>
    </p>


    <a href="@Url.Action("Signup","Home")" style="color:chartreuse;font-family:Copperplate Gothic Light; font-size:20px">Try MafCode!</a>

</div><br><br>



        <img src="~/Images/iphoneqr.jpg" alt="Norway" style="width:30%" class="w3-hover-opacity"> <br><br>
        <p>StickOn</p>
        <hr style="width:30%">
        <img src="~/Images/keyring.jpg" alt="Norway" style="width:30%" class="w3-hover-opacity"><br><br>
        <p>KeyRing</p>
        <hr style="width:30%"><br>
        <img src="~/Images/luggage.webp" alt="Norway" style="width:30%" class="w3-hover-opacity"><br><br><br>
        <p>Luggage</p>
        <hr style="width:30%">
        <img src="~/Images/no bataries.png" alt="Norway" style="width:30%" class="w3-hover-opacity"><br><br>
        <p>NoBatteries</p>
        <hr style="width:30%"><br>

        <pre>
Unlike other lost and found solutions,
MafCode does not require batteries.
They never 'go flat' and never stop
pro­tecting your valuables!
            </pre>
        <hr style="width:60%">

        <img src="~/Images/descrete.png" alt="Norway" style="width:30%" class="w3-hover-opacity"><br><br>
        <p>Discreet</p>
        <hr style="width:30%">
        <pre>
your MafCode is discreet,
lightweight, and unintrusive.
They won't detract from your smart­phone
or laptop computers' clean aesthetics.
Luggage Tags are larger
and offer a great way of protecting
larger items when traveling.
            </pre>
        <hr style="width:60%">
        <img src="~/Images/set.png" alt="Norway" style="width:25%" class="w3-hover-opacity"><br><br>

        <p>SimpleSetup</p>
        <hr style="width:30%">
        <pre>
Setting up is simple.
just scan your new MafCode with
your smartphone to register them
or register them on the MafCode
website and you're all done.
        </pre>
        <hr style="width:80%">

        <a href="https://www.facebook.com/"><img src="~/Images/facbook.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>
        <a href="https://www.instagram.com/"><img src="~/Images/instagram.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>
    </div>
</div>