
<div class="text-center">
    <br><br><h1>How <img src="~/Images/logo122.png" style="width:35%" /> Works</h1>
    <hr style="width:70%"><br><br><br>

    <ul>

        <li>
            <img src="~/Images/Asset 1.png" alt="Norway" style="width:30%" class="w3-hover-opacity"><br>
            <p><b>Open Your Phone Camera</b></p><br>
            <hr style="width:80%"><br>
        </li>
        <li>
            <img src="~/Images/Asset 2.png" alt="Norway" style="width: 30%" class="w3-hover-opacity"><br>
            <p><b>Point Your Phone At The Qr Code And Scan It</b></p><br>
            <hr style="width:80%"><br>
        </li>
        <li>
            <img src="~/Images/Asset 3.png" alt="Norway" style="width: 30%" class="w3-hover-opacity"><br>
            <p><b>Click On The MafCode Link That Will Appear</b></p><br>
            <hr style="width:80%"><br>
        </li>
        <li>
            <img src="~/Images/Asset 4.png" alt="Norway" style="width: 30%" class="w3-hover-opacity"><br>
            <p><b>The Information About Owner Who Lost His Items Will Appear And You Can Contact The Owner Easly</b></p><br>
        </li>
    </ul>
    <hr style="width:80%">
    <a href="https://www.facebook.com/"><img src="/Images/facbook.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>
    <a href="https://www.instagram.com/"><img src="/Images/instagram.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>

</div>




