@{
    ViewBag.Title = "Home Page";
}

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br>
    <br>
    <hr style="width:80%">
    <h1 class="display-4">This is a  <img src="~/Images/logo122.png" style="width:42%" />!</h1>
    <hr style="width:80%"><br>

    <br>
    <br>
    <img src="~/Images/tag.png" alt="Norway" style="width:60%" class="w3-hover-opacity">
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>
    <p>
        you attach it to your lost items
        so that people can scan it to message
        you or call or send your location in case of an emergency.
        MafCode relays messages to your phone privately via SMS
        <br>
        <b><u>without revealing your number to anyone! </u></b>
    </p>
    <br>
    <hr style="width:80%">
    <a href="https://www.facebook.com/"><img src="/Images/facbook.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>
    <a href="https://www.instagram.com/"><img src="/Images/instagram.png" alt="HTML tutorial" style="width:42px;height:42px;"></a>

</div>
