
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/loginstyle.css" /> 
    <title>Sign in & Sign up Form</title>
</head>
<body>

    @Html.Hidden("RedirectTo", Url.Action("Details", "UserInfo"));
    <div class="signin-signup">
        <form action="#" class="sign-in-form">
            <br><br>
            <h2 class="title">Sign in</h2>
            <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" id="Username" placeholder="Username" />
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" id="Password" placeholder="Password" />
            </div>
            <input type="button" value="Login" onclick="Login();" class="btn solid" />
        </form>

    </div>

    <br><br><hr>
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3 style="font-size:20px">New here ?</h3>
                <a href="@Url.Action("Signup","Home")" style="color:chartreuse;font-family:Copperplate Gothic Light; font-size:20px">Signup</a>
            </div>
            <img src="img/log.svg" class="image" alt="" />
        </div>
    </div>


    <script src="app.js"></script>
    <script>
        function Login() {
            var Username = $('#Username').val();
            var data = {
                Username: Username,
                Password: $('#Password').val()
            };
            $.post('@Url.Action("Login", "Home")', data, function (data) {
                    if (data === 'False') { alert('Username or Password is incorrect!') }
                    else {

                        $.get('@Url.Action("UserID", "Home")' + '?username=' + Username, function (data)
                        {
                            var url = $("#RedirectTo").val();
                            location.href = url+'/'+data;
                        })

                    }
            console.log(data);
        });
        }
    </script>
</body>
</html>